<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Efserv!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
     <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
              aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FogSync Server</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= if @user do %>
            <div class="navbar-right" style="color: white; padding-top: 15px;">
              <p>Logged in as <%= @user.email %>
              <%= link("Logout", to: "/session", method: "delete") %></p>
            </div>
          <% else %>
            <%= form_for @conn, "/session", [as: :login, class: "navbar-form navbar-right"], fn f -> %>
              <div class="form-group">
                <input type="text" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            <% end %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
