<div class="row">
  <div class="col-lg-6">
    <h3>What is FogSync?</h3>
    <p>A thing and some stuff.
  </div>

  <div class="col-lg-6">
    <%= if @user do %>
      <h3>Your Shares</h3>
      <p>...</p>
    <% else %>
      <h3>Register</h3>
      <%= form_for @new_user, "/users", fn f -> %>
      <div class="form-group">
        <%= label f, :email, class: "control-label" %>
        <%= text_input f, :email, class: "form-control" %>
        <%= error_tag f, :email %>
      </div>
      <div class="form-group">
        <%= label f, :password, class: "control-label" %>
        <%= password_input f, :password, class: "form-control" %>
        <%= error_tag f, :password %>
      </div>
      <div class="form-group">
        <%= label f, :password_again, class: "control-label" %>
        <%= password_input f, :password_again, class: "form-control" %>
        <%= error_tag f, :password_again %>
      </div>
      <div>
        <input type="submit" text="Register">
      </div>
      <% end %>
    <% end %>
  </div>
</div>
